Problem 1

In [1]:
!pip install bs4
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
     |████████████████████████████████| 115 kB 4.0 MB/s eta 0:00:01
Collecting soupsieve>1.2; python_version >= "3.0"
  Downloading soupsieve-2.1-py3-none-any.whl (32 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=9df1e081cd748091057276067956a5b7dca442f800e2c4bc916f177946e347f2
  Stored in directory: /home/jovyan/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.3 bs4-0.0.1 soupsieve-2.1

In [25]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text
soup = BeautifulSoup(source, 'html')
table=soup.find('table')

In [26]:
column_names = ['Postal Code','Borough','Neighbourhood']
df = pd.DataFrame(columns = column_names)

In [27]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [28]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [29]:
df.drop(df[df['Borough']=="Not assigned"].index, inplace = True)
df = df.reset_index()

In [31]:
df[df['Neighbourhood']=="Not assigned"]

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighbourhood]
Index: []

In [32]:
df[df['Borough']=="Not assigned"]

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighbourhood]
Index: []

In [33]:
df.shape

(103, 4)

Problem 2

In [35]:
link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476